@use "./variables";
@use "./responsive" as *;

// ==========================================================================
// Base Styles
// ==========================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt {
  height: 100%;
}

body {
  background: var(--color-background);
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
}

.container {
  padding: var(--spacing-lg);
}

.app-link {
  @include FluidFontBodyMd;
  background: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }
}
